// Media Query Breakpoints

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1260px;

// Fonts

$font-heading: 'PT Serif', serif;
$font-body: 'IBM Plex Sans', sans-serif;
$font-logo: 'Cinzel Decorative', serif;

// Colours

// Body
$body-border: #94866d;
$body-dark: #b8a282;
$body-mid: #d0bd97;
$body-light: #d8ccb4;
$body-main: #e2dbc8;
$body-background-color: #c0a886;

// Buttons and links
$button-border: #3c352a;
$button-dark: #18140c;
$button-light: #3a301d;
$osrsw-brown: #605443;
$link-color: #936039;
$background-link-color: #52351e;