@use '../utilities/mixins';

.about {
    @include mixins.page-styling;
}

.about-me {
    @include mixins.card-styling;

    h1,
    h2,
    h3 {
        margin: 7px;
    }

    p {
        margin: 5px;
    }

    ul {
        margin: 5px;
        padding-left: 20px;
    }
}