@use '../utilities/mixins';

.coding {
    @include mixins.page-styling;
}

.coding-examples {
    @include mixins.card-styling;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}