@use '../utilities/variables';
@use '../utilities/mixins';

.header {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @include mixins.mq("medium") {
        margin-left: 240px;
        width: calc(100% - 240px);
    }

    .name {
        margin-top: -250px;
        text-align: center;
        color: #fff;
    }

    .scroll-down {
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}