@use '../utilities/variables';
@use '../utilities/mixins';

.header {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: 1px solid variables.$body-border;
    margin-bottom: 16px;

    @include mixins.sidebar-offset;

    .name {
        margin-top: -300px;
        text-align: center;
        color: #fff;

        @include mixins.mq("large") {
            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}