@use '../utilities/variables';
@use '../utilities/mixins';

.scs {
    @include mixins.page-styling;
}

.scs-scheme {
    @include mixins.card-styling;

    h1,
    h2,
    h3,
    h4,
    p,
    a {
        margin: 10px;
    }

    a {
        display: inline-block;
        align-self: flex-start;
        text-decoration: none;
        color: variables.$background-link-color;

        &:hover {
        text-decoration: underline;
        }
    }
}