@use '../utilities/variables';
@use '../utilities/mixins';

.sidebar-toggle {
    display: none;
}

.hamburger {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 3;
    background: transparent;
    cursor: pointer;

    @include mixins.mq("medium") {
        display: none;
    }

    .icon-menu {
        font-size: 2rem;
        line-height: 1;
        color: variables.$background-link-color;
    }
}

.sidebar-toggle:checked ~ .sidebar {
    display: flex;
}

.sidebar {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    padding: 10px;
    z-index: 2;
    background-color: variables.$body-background-color;
    box-shadow: inset -8px 0 8px -8px rgba(0, 0, 0, 0.4);

    @include mixins.mq("medium") {
        display: flex;
    }

    .logo {
        margin: 0;
        padding: 20px 0 0;
        font-family: variables.$font-logo;
        font-size: 4rem;
        color: variables.$button-dark;
        transition: transform 0.2s ease;

        a {
            color: inherit;
            text-decoration: none;
        }

        a:visited {
            color: inherit;
            text-decoration: none;
        }

        &:hover {
            transform: translateY(-4px);
        }
    }
}

.sidebar-nav {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 14px;
    width: 100%;
    padding-left: 30px;

    a {
        color: variables.$background-link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    h4 {
        margin: 0;
        color: #444;
    }

    .contact-heading {
        margin-top: 30px;
        margin-bottom: 30px;

        a {
            color: #444;
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    .social-link {
        display: flex;
        color: variables.$background-link-color;
        font-size: 1.25rem;
        transition: transform 0.2s ease;

        &:hover {
            text-decoration: none;
            color: variables.$button-dark;
            transform: translateY(-4px);
        }
    }
}