@use '../utilities/variables';

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}